<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BasicLayout</title>
</head>
<body>
    <div>
        @RenderSection("header")
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        @RenderSection("footer")
    </div>
</body>
</html>
