
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css" />
</head>
<body>
    <div>
        <h1>Toko Onlen Serba Tidak Ada</h1>
    </div>
    <div>
        @RenderSection("header")
    </div>
        @RenderBody()
    <div>
        <center>&copy; Toko Onlen Abal - abal 2019</center>
    </div>
</body>
</html>
